.container {
    width: 90%;
    margin: 20px;
    padding: 20px;
    background-color: var(--white-100);
    border-radius: 12px;
}

.filter-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 70%;
}

.filter-item {
    display: flex;
    flex-direction: column;
}

.filter-item label {
    font-size: 14px;
    margin-bottom: 5px;
}

.filter-item select,
.filter-item input {
    padding: 8px;
    width: 150px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.filter-btn {
    background-color: #000080;
    color: white;
    padding: 12px;
    font-weight: bold;
    border-radius: 6px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.account-table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    table-layout: fixed;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.account-table th,
.account-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    /* Ẩn nội dung thừa */
    text-overflow: ellipsis;
    /* Thêm dấu ba chấm nếu nội dung quá dài */
    white-space: nowrap;
    /* Không cho phép xuống dòng */
}

.account-table th {
    background-color: #f1f1f1;
    font-weight: bold;
}

.account-table tr:hover {
    background-color: #f9f9f9;
    cursor: pointer;
}

.account-table td {
    font-size: 14px;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fff;
    margin: 53px auto;
    padding: 20px;
    border-radius: 10px;
    width: 40%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    position: relative;
}

.modal-content h3 {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    margin-bottom: 20px;
}

/* Close Button */
.close {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 25px;
    font-size: 24px;
    font-weight: bold;
    color: #000;
    cursor: pointer;
}

/* Input Fields */
.modal-content label {
    display: block;
    font-weight: bold;
    color: #000;
    margin-bottom: 5px;
}

.modal-content input,
.modal-content select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.modal-content textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    resize: none;
}

.status-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.status-container label {
    margin-right: 10px;
}

.status-container input[type="radio"] {
    display: none;
}

.status-container label span {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.status-container input[type="radio"]:checked+label span {
    background-color: #00008B;
    color: white;
    border: none;
}

.modal-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.modal-actions .btn-save {
    background-color: #00008B;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    font-weight: bold;
    cursor: pointer;
}

.modal-actions .btn-delete {
    background-color: #ff3333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.btn-create {
    background-color: #000080;
    color: white;
    padding: 10px;
    font-weight: bold;
    border-radius: 6px;
    margin-bottom: 20px;
}

.account-table tbody {
    display: table-row-group;
    height: 650px;
    overflow-y: auto;
}

.account-table thead,
.account-table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.account-table th.username,
.account-table td.username {
    min-width: 150px;
}

.account-table th.name,
.account-table td.name {
    min-width: 120px;
}

.account-table th.email,
.account-table td.email {
    min-width: 200px;
}