@import url('./mainStyle.css');
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}

.login-container {
    width: 100%;
    max-width: 500px;
    background-color: white;
    padding: 30px;
    padding-bottom: 0;
    margin-top: 10px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.login-header h1 {
    font-size: 24px;
    color: var(--primary-color);
    font-weight: 700;
}

.login-header .back-button img,
.login-header .home-button img {
    width: 30px;
    height: 30px;
}

.login-title {
    font-size: 20px;
    color: var(--black-333);
    font-weight: 500;
    margin-bottom: 20px;
}

.login-form label {
    text-align: left;
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    color: var(--black-333);
    font-size: 14px;
}

.login-form input,
.login-button,
.register-button {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 16px;
    outline: none;
    box-sizing: border-box;
}

.login-form input {
    border: 1px solid #ccc;
    padding-left: 12px;
}

.password-wrapper {
    position: relative;
    width: 100%;
}

.password-wrapper input {
    padding-right: 45px;
}

.show-password {
    position: absolute;
    right: 12px;
    top: 40%;
    transform: translateY(-50%);
    cursor: pointer;
}

.show-password img {
    width: 24px;
    height: 24px;
}

.forgot-password {
    text-align: right;
    margin-bottom: 20px;
}

.forgot-password a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 14px;
}

.login-button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
    font-weight: 700;
}

.or-divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.or-divider hr {
    flex: 1;
    border: none;
    height: 1px;
    background-color: #ccc;
}

.or-divider span {
    padding: 0 10px;
    color: var(--black-333);
    font-weight: bold;
}

.register-button {
    border: 1px solid #ccc;
    background-color: white;
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
}

.register-button {
    padding: 12px 30px;
    display: inline-block;
}