@import url('./mainStyle.css');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
}

.register-container {
    width: 100%;
    max-width: 500px;
    background-color: var(--white-100);
    padding: 30px;
    padding-bottom: 0;
    margin-top: 10px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.register-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.register-header h1 {
    font-size: 24px;
    color: var(--primary-color);
    font-weight: 700;
}

.register-header .back-button img,
.register-header .home-button img {
    width: 30px;
    height: 30px;
}

.register-title {
    font-size: 20px;
    color: var(--black-333);
    font-weight: 500;
    margin-bottom: 20px;
}

.register-form label {
    text-align: left;
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    color: var(--black-333);
    font-size: 14px;
}

.register-form input,
.register-button,
.login-button {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 16px;
    outline: none;
    box-sizing: border-box;
}

.register-form input {
    border: 1px solid #ccc;
    padding-left: 12px;
}

.password-wrapper {
    position: relative;
    width: 100%;
}

.password-wrapper input {
    padding-right: 45px;
}

.show-password {
    position: absolute;
    right: 12px;
    top: 40%;
    transform: translateY(-50%);
    cursor: pointer;
}

.show-password img {
    width: 24px;
    height: 24px;
}

.register-button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 0;
    font-weight: 700;
}

.or-divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.or-divider hr {
    flex: 1;
    border: none;
    height: 1px;
    background-color: #ccc;
}

.or-divider span {
    padding: 0 10px;
    color: var(--black-333);
    font-weight: bold;
}

.login-button {
    border: 1px solid #ccc;
    background-color: white;
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
}

.login-button {
    padding: 12px 30px;
    display: inline-block;
}
.gender {
    display: flex;
    align-items: center;
    gap: 20px;
}

.custom-radio {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    position: relative;
}

.custom-radio input[type="radio"] {
    display: none;
}

.custom-radio .radio-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border: 2px solid #3333cc;
    border-radius: 6px;
    background-color: white;
    color: var(--primary-color);
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    position: relative;
}

.custom-radio input[type="radio"]:checked + .radio-btn {
    background-color: white;
}

.custom-radio input[type="radio"]:not(:checked) + .radio-btn {
    color: #BFBFBF;
    border-color: #BFBFBF;
}

.custom-radio .radio-btn::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    border: 2px solid;
    transition: background-color 0.3s ease;
    border-radius: 3px;
}

.custom-radio input[type="radio"]:checked + .radio-btn::before {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.custom-radio input[type="radio"]:not(:checked) + .radio-btn::before {
    background-color: #BFBFBF;
    border-color: #BFBFBF;
}

