<!DOCTYPE html>
<html>
    <head>
        <title>View My Order</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../Component/CSS/customerViewOrder.css">
        <link rel="stylesheet" href="../Component/CSS/homeCustomer.css">
        

    </head>
    <body>
        <!-- Navbar -->
        <nav class="navbar">
            <div class="menu-container">
                <div class="logo-container">
                    <a href="#" class="logo">Daily Essentials</a>
                </div>
                <div class="search-container">
                    <div class="find-products">
                        <img src="../Component/IMG/ic-find.svg" class="icon ic-find" alt="Search Icon">
                        <input type="text" id="txt_FindProduct" placeholder="Giao hàng nhanh 3h, Giảm 20% sản phẩm Thịt Navi">
                    </div>
                </div>
                <div class="right-container">
                    <a href="#" class="cart-link">
                        <img src="../Component/IMG/ic-cart.svg" alt="Cart Icon" class="icon">
                        <span>Giỏ hàng (0)</span>
                    </a>
                    <a href="login.html" class="user-link">
                        <img src="../Component/IMG/ic-user.svg" alt="User Icon" class="icon">
                        <span>Khách hàng</span>
                    </a>
                </div>
            </div>
        </nav>
        <div class="product-menu-wrapper">
            <div class="product-menu-left">
                <button class="menu-btn">
                    <img src="../Component/IMG/ic-bars.svg" class="icon ic-bars" alt="Bars Icon">
                    Danh mục sản phẩm
                </button>
            </div>

            <div class="product-menu-right">
                <button class="purchase-btn">
                    <img src="../Component/IMG/ic-cart2.svg" class="icon ic-cart2" alt="Cart Icon">
                    Sản phẩm đã mua
                </button>
            </div>
        </div>
        
        
        <div class="container">
            <div class="sidebar">
                <a href="#">Tài khoản</a>
                <a href="#">Quản lý đơn hàng</a>
                <a href="#">Sản phẩm đã mua</a>
                <a href="#">Đăng xuất</a>
            </div>
            <div class="main-content">
                <h2>Danh sách đơn hàng</h2>
                <div class="filter-section">
                <div>
                    <label>ID đơn :</label>
                    <input type="text" placeholder="Nhập ID đơn" />
                </div>
                <div>
                    <label>Trạng thái đơn hàng :</label>
                    <select>
                        <option>Đang xử lý</option>
                        <option>Ðã xác nhận</option>
                        <option>Đang vận chuyển</option>
                        <option>Hoàn thành</option>
                        <option>Ðã hủy</option>
                    </select>
                </div>
                <div>
                    <label>Tổng số tiền :</label>
                    <input type="text" placeholder="Nhập số tiền" />
                </div>
            </div>
            <div class="filter-section">
                <div>
                    <label for="Date"> Ngày tạo :</label>
                    <input type="Date" value="2024-03-20">
                </div>
                <button>Tìm</button>
            </div>
                <table>
                    <thead>
                        <tr>
                            <th>ID Đơn hàng</th>
                            <th>Ngày mua</th>
                            <th>Tổng tiền</th>
                            <th>Trạng thái đơn hàng</th>
                            <th>Ghi chú</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>#0001F2</td>
                            <td>10/09/2024</td>
                            <td>140.000 đ</td>
                            <td>Hoàn thành</td>
                            <td>...</td>
                        </tr>
                        <tr>
                            <td>#0001F2</td>
                            <td>10/09/2024</td>
                            <td>140.000 đ</td>
                            <td>Hoàn thành</td>
                            <td>...</td>
                        </tr>
                        <tr>
                            <td>#0001F2</td>
                            <td>10/09/2024</td>
                            <td>140.000 đ</td>
                            <td>Hoàn thành</td>
                            <td>...</td>
                        </tr>
                        <tr>
                            <td>#0001F2</td>
                            <td>10/09/2024</td>
                            <td>140.000 đ</td>
                            <td>Hoàn thành</td>
                            <td>...</td>
                        </tr>
                        <tr>
                            <td>#0001F2</td>
                            <td>10/09/2024</td>
                            <td>140.000 đ</td>
                            <td>Hoàn thành</td>
                            <td>...</td>
                        </tr>
                    </tbody>
                </table>
            </div>     
           
    </body>
</html>
