<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Component/CSS/homeCustomer.css">
    <title>Trang chủ - Daily Essentials</title>
</head>
<body>
    <nav>
        <div class="menu">
            <ul class="menu_list">
                <li class="menu_item">
                    <div class="w-logo">
                        <a href="#" class="logo">Daily Essentials</a>
                    </div>
                </li>
                <li class="menu_item">
                    <div class="w-find_products d-flex">
                        <div class="find-products ">
                            <img src="../Component/IMG/ic-find.svg" class="icon ic-find" alt="">
                            <input type="text" id="txt_FindProduct" placeholder="Giao hàng nhanh 3h, Giảm 20% sản phẩm Thịt Navi">
                        </div>
                    </div>
                </li>
                <li class="menu_item">
                    <div class="w-right-customer d-flex">
                        <a href="#" class="w-cart d-flex cart-link">
                            <img src="../Component/IMG/ic-cart.svg" alt="" class="icon">
                            <div class="cart-number btn d-flex">
                                <p>Giỏ hàng<p id="cart-quantity">(0)</p></p>
                            </div>
                        </a>
                        <a href="login.html" class="w-customer d-flex user-link">
                            <img src="../Component/IMG/ic-user.svg" alt="" class="icon">
                            <p id="customer-name">Khách hàng</p>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</body>
</html>