<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Component/CSS/login.css">
    <title>Login</title>
</head>
<body>
    <div class="login-container">
        <div class="login-header">
            <a href="homeCustomer.html" class="back-button">
                <img src="../Component/IMG/ic-back.svg" alt="Back">
            </a>
            <h1>Daily Essentials</h1>
            <a href="homeCustomer.html" class="home-button">
                <img src="../Component/IMG/ic-home.svg" alt="Home">
            </a>
        </div>
        <h2 class="login-title">Đăng nhập</h2>
        <form action="login" method="POST" class="login-form">
            <label for="username">Tên tài khoản</label>
            <input type="text" id="username" name="username" tabindex="1" placeholder="Nhập số điện thoại hoặc email">
            
            <label for="password">Mật khẩu</label>
            <div class="password-wrapper">
                <input type="password" id="password" name="password" tabindex="2" placeholder="Nhập mật khẩu" >
                <span class="show-password">
                    <img src="../Component/IMG/ic-eye.svg" alt="Show/Hide Password">
                </span>
            </div>
            <div class="forgot-password">
                <a href="#">Quên mật khẩu?</a>
            </div>
            <button type="submit" class="login-button" tabindex="3">Đăng nhập</button>
            <div class="or-divider">
                <hr><span>Hoặc</span><hr>
            </div>
            <a href="register.html" class="register-button">Đăng ký</a>
        </form>
    </div>
    <script>
        function togglePasswordVisibility() {
            const passwordField = document.getElementById("password");
            const passwordFieldType = passwordField.getAttribute("type");

            if (passwordFieldType === "password") {
                passwordField.setAttribute("type", "text");
            } else {
                passwordField.setAttribute("type", "password");
            }
        }

        document.querySelector('.show-password').addEventListener('click', togglePasswordVisibility);
    </script>
</body>
</html>