<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../Component/CSS/PU_Select_area.css" />
    <title>A</title>
  </head>
  <body>
    <div class="popup-container" id="popup">
      <div class="popup">
        <div class="popup-header">
          <h2>Khu vực giao hàng dự kiến</h2>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon btnExit"
            id="exit"
            viewBox="0 0 512 512"
          >
            <path
              d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c-9.4 9.4-9.4 24.6 0 33.9l47 47-47 47c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l47-47 47 47c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-47-47 47-47c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-47 47-47-47c-9.4-9.4-24.6-9.4-33.9 0z"
            />
          </svg>
        </div>
        <div class="popup-body" id="sa1">
          <div class="form-group">
            <label for="city p-10">Thành phố</label>
            <select id="tinh" name="tinh">
              <option value="0">Tỉnh thành</option>
            </select>
          </div>
          <div class="form-group">
            <label for="district p-10">Quận Huyện</label>
            <select id="quan" name="quan">
              <option value="0">Quận Huyện</option>
            </select>
          </div>
          <div class="form-group">
            <label for="ward p-10">Phường Xã</label>
            <select id="phuong" name="phuong">
              <option value="0">Phường Xã</option>
            </select>
          </div>
          <button class="continue-btn" id="btnContinue">Tiếp tục</button>
        </div>
        <div class="popup-body hidden" id="sa2">
          <div class="popup-body-address">
            <p id="address-sa2-comfirm">
              Địa chỉ: <strong>P. Long Tuyến, Q. Bình Thủy, TP. Cần Thơ</strong>
            </p>
            <div id="change-address" class="ic-Change p-10">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon"
                viewBox="0 0 512 512"
              >
                <path
                  d="M362.7 19.3L314.3 67.7 444.3 197.7l48.4-48.4c25-25 25-65.5 0-90.5L453.3 19.3c-25-25-65.5-25-90.5 0zm-71 71L58.6 323.5c-10.4 10.4-18 23.3-22.2 37.4L1 481.2C-1.5 489.7 .8 498.8 7 505s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L421.7 220.3 291.7 90.3z"
                />
              </svg>
              <p>Thay đổi</p>
            </div>
          </div>

          <p>Bạn vui lòng chọn cửa hàng giao hàng</p>

          <div class="store-list">
            <div class="store-item">
              <div class="store-info">
                <div class="store-icon">DE</div>
                <div class="store-address">
                  <strong>Daily Essentials</strong>
                </br>
                  <span id="store-address"
                    >Địa chỉ: 209, đường 30/4, Phường Xuân Khánh , Q. Ninh Kiều
                    , TP. Cần Thơ, Việt Nam</span
                  >
                </div>
              </div>
              <span class="store-distance">Khoảng cách: <strong>5 km</strong></span>
            </div>
            <button class="continue-btn" id="btnConfirm">Xác nhận</button>
          </div>
        </div>
      </div>
    </div>
    <script src="https://esgoo.net/scripts/jquery.js"></script>
    <script src="../Component/JS/Select_area.js"></script>
    <script src="../Component/JS/popup.js"></script>
  </body>
</html>
